.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
  padding: 0 7px;
}

.afterword {
  padding: 0 35px;
  color: #fff;
  font-family: Angst, serif;
  font-weight: 50;
  font-style: Normal;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.rules {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
  margin-top: 39px;
}

.rule {
  background-color: #d9d9d912;
  color: #fff;
  font-family: 'Brygada 1918', serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  padding: 17px 4px;
  border-radius: 8px;
}