.description {
  margin-top: 90px;
  padding: 0 20px;
  font-family: 'Brygada 1918', serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}