* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "system-ui", serif;
  /*outline: red solid 1px;*/
}

html {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #2980b9;
  --accent-color: #e67e22;
  --interactive-color: #d35400;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
}

body {
  max-width: 1920px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

svg {
  display: block;
}

svg * {
  display: block;
  transition: color 0.3s, stroke 0.3s, fill 0.3s;
}