.columns {
  position: relative;
  height: 555px;
  background-color: #000;
  overflow: hidden;
}

.title {
  font-family: Angst, serif;
  font-weight: 100;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
  padding-top: 232px;
  margin-left: 116px;
}

.text {
  font-family: Angst, serif;
  font-weight: 50;
  font-style: Normal;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.68);
  margin-top: 119px;
  margin-left: 57px;
}

.link {
  display: block;
  padding: 12.5px 44px;
  margin: 77px auto 0;
  text-decoration: none;
  width: fit-content;
  background-color: rgba(140, 143, 126, 0.57);
  border-radius: 8px;

  font-family: Inter, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}