.title {
  font-family: Angst, serif;
  font-weight: 50;
  font-style: Normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  padding-left: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ffffff91;
}