.link {
  text-decoration: none;
  display: block;
  padding: 12.5px 44px;
  background-color: rgba(140, 143, 126, 1);
  border-radius: 8px;
  width: fit-content;
  margin: 28px auto 0;
  color: rgba(23, 28, 18, 1);
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.img {
  border-radius: 3px;
  margin-left: 14px;
  margin-top: 28px;
}

.text {
  font-family: Angst, serif;
  font-weight: 50;
  font-style: Normal;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.12em;
  color: rgba(202, 203, 205, 1);
  padding: 0 14px;
}

.text:first-child {
  margin-top: 27px;
}

.text:nth-child(2) {
  margin-top: 20px;
}

.textBold {
  font-family: Angst, serif;
  font-weight: 100;
  font-style: Normal;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.12em;
  color: rgba(202, 203, 205, 1);
  padding: 0 14px;
  margin-top: 70px;
}