.container {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  margin-top: 48px;
}

.container h3 {
  text-transform: uppercase;
  font-family: Angst, serif;
  font-weight: 50;
  font-style: Normal;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
}

.container p {
  margin-top: 11px;
  font-family: 'Brygada 1918', serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
}

.container div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 11px;
  margin-top: 10px;
}

.container button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 13px;
  padding: 5.5px 8px;
  color: #474b5a;
  font-family: 'Brygada 1918', serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0;
}